img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}

.image-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media (max-width: 768px) {
  .image-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .image-row {
    grid-template-columns: 1fr;
  }
}

h1 {
    text-align: center;
    background-color: rgb(59, 142, 251);
    color: white;
}

body {
    text-align: center;
    display: grid;
    text-wrap: var(body);
    margin: auto;
    background-color: lightgrey;
}

footer {
    text-align: center;
}

nav {
    text-align: center;
}